.container{
    color: white;
    background-color: #111;
    /* position: fixed; */
    width: 100%;
}

.nav_item{
    margin: 1px 20px;
    padding: 1px 5px;
    border-bottom: 1px solid #111;
    text-decoration: none;
    
}
.nav_item:hover{
    border-bottom: 1px solid white;
    color: white !important;
    transition: 0.5s linear 0.1s;
    background-color: transparent;
    text-decoration: none;
}
.navbar a {
    background-color: transparent !important;
    text-decoration:none;
}
